<h3>Home</h3>
<h4><b>Shoutbox</b></h4>
<% shoutbox = String.new("") %>
<ul>
<% for shout in @shouts %>
<% shoutbox = shoutbox + "Author: #{shout.name} \n #{shout.message} \n___________________________________________________________________________________________\n" %>
<% end %>
      <%= text_area_tag(:shoutboxing, "#{shoutbox}", rows: '10', cols: 80, readonly: "true", style: "resize:none;color:brown;background-color:#C0C0C0") %><br>
</ul>
<%= form_for @shout do |f| %>

<% f.label :name %><b>Name:</b>
<%= f.text_field :name, :size => 20 %><br>

<% f.label :message %><b>Message:</b><br>
<%= f.text_area :message, :rows => 3, :cols => 80, style: "resize:none" %><br>

<%= f.submit %>
<% end %>