<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @photo.event_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @photo.photo %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
